<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- for the thyme. ;) -->
<head>
    <meta charset="UTF-8">
    <title>Welcome to my HomePage</title>
</head>
<body>
<h1>HOWDY!</h1>

<a href="/signup">Create Login Here</a>
<!--<form action="/newuser" method="POST">-->
<!--    Username: <input type="text" name="userName">-->
<!--    First name: <input type="text" name="firstName">-->
<!--    Last name: <input type="text" name="lastName">-->
<!--    Date of Birth: <input type="date">-->
<!--    <input type="submit" value="New User Submit">-->
<!--</form>-->
<a href="/login">Login Here!</a>
<a href="/gotouserinfo">Go Here to See Your Deets</a>
</body>
</html>