<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- for the thyme. ;) -->
<head>
    <meta charset="UTF-8">
    <title>Welcome to my HomePage</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/> <!-- This is correct to find the static/... files.-->
</head>
<body>
<h1>HOWDY!</h1>

    <div>
        <h1 th:replace="fragments/username.html :: name"></h1>
    </div>
    <div th:unless="${principal}"> <!--https://attacomsian.com/blog/thymeleaf-conditions-->
        <a href="/login">Login Here!</a>
        <a href="/signup">Create Login Here</a>
    </div>

    <div th:if="${principal}">
        <a href="/user">Go Here to See Your Deets</a>
    </div>
</body>
</html>