<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

    <div>
        <h1 th:replace="fragments/username.html :: name"></h1>
    </div>

    <h2>Your Info</h2>
    <p th:text=" 'First Name : ' + ${userDeets.firstName}"></p>
    <p th:text=" 'Last Name : ' + ${userDeets.lastName}"></p>
    <img src="https://via.placeholder.com/300/09f/fff.png%20C/O%20https://placeholder.com/" alt="your profile pic">
    <p th:text=" 'Username :  ' + ${userDeets.username}"></p>
    <p th:text=" 'Bio : ' + ${userDeets.bio}"></p>
    <p th:text=" 'Date of Birth ' + ${userDeets.dateOfBirth}"></p>

    <div th:if="${principal.getName()} == ${userDeets.username}">
        <form action="/following" method="POST">
            <input type="hidden" name="username" th:value="${userDeets.username}">
            <label for="following"> <!-- this is attached to the id="" in the nested <select><select -->
                Who would you like to follow?
                <select name="theFollowed" id="following"> <!-- attached to the label for="" this is nexted to. -->
                    <option th:each="abletofollow : ${allusers}" th:value="${abletofollow.username}" th:text="${abletofollow.username}"></option>
                </select>
            </label>
            <input type="submit" value="Follow!">
        </form>
    </div>


    <div th:if="${principal.getName() != userDeets.username}">
        <form action="/following" method="POST">
            <input type="hidden" name="username" th:value="${userDeets.username}">
            <input type="submit" value="Follow!">
        </form>

    </div>

    <div th:if="${principal.getName()} == ${userDeets.username}"> <!-- anything within ${} is all Java all the time. btw this turns off the posting box if principal isn't the user being viewed. -->
        <form method="post" action="/savepost">    <!-- HTML Codes by Quackit.com -->
            <input type="hidden" name="id" th:value="${userDeets.id}">
            <textarea name="body" cols="30" rows="5" class="html-text-box">Type here</textarea>
            <p><input type="submit" value="Submit">
        </form>
    </div>

    <form action="/seeotheruser" method="POST">
        <input type="hidden" name="username" th:value="${userDeets.username}">
        <label for="following"> <!-- this is attached to the id="" in the nested <select><select -->
            Would you like to visit someone else's page?
            <select name="theFollowed" id="UNKNOWN"> <!-- attached to the label for="" this is nexted to. -->
                <option th:each="abletofollow : ${allusers}" th:value="${abletofollow.username}" th:text="${abletofollow.username}"></option>
            </select>
        </label>
        <input type="submit" value="Visit Other User">
    </form>

    <div th:if="${userDeets.getPosts().size() > 0}" th:each="post : ${userDeets.getPosts()}" >
        <p th:text="${post.getBody()}"></p>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>

<!-- https://spring.io/guides/gs/securing-web/ -->

</body>
</html>